* {
  margin: 0;
  padding: 0;
}

/* html {
  background: url(https://images.pexels.com/photos/29879483/pexels-photo-29879483/free-photo-of-festive-christmas-ornament-on-pine-tree-branch.jpeg)
    no-repeat center center;
  background-size: cover;
} */

body {
  /* background: url(https://images.pexels.com/photos/29879483/pexels-photo-29879483/free-photo-of-festive-christmas-ornament-on-pine-tree-branch.jpeg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover; */
  background: gray;
}
h1 {
  background-color: antiquewhite;
  color: blue;
  text-align: center;
  padding: 10px;

  text-decoration: underline;
  border: solid 4px black;
}
span {
  font-size: 60px;
  color: #25ba59;
  text-align: center;
  background-color: #b82929;
}
p {
  display: inline;
  font-size: 1em;
  background-color: orange;
}
